@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'BellSlimBlack';
  src: url('../public/images/BellSlim-Black.woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'BellSlimBlack', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 580px) {
  .form-bg {
    width: 100vw;
  }
}